{% include "header.html" %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6"><img alt="woman" class="d-block mx-lg-auto img-fluid"
                                                   height="200" loading="lazy" src="https://thumbs.dreamstime.com/b/positive-confident-young-indian-woman-posing-home-portrait-positive-confident-young-indian-woman-posing-home-portrait-314828054.jpg?w=576" width="600"></div>
        <div class="col-lg-6"><h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Smart Python Solutions for
            Real-World Problems.</h1>
            <p class="lead">I'm Sowmy, a Python developer who builds practical tools,
                from automation scripts to data and web projects.
                With a background in marketing and SEO,
                I create solutions that save time, solve real problems, and deliver results.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button class="btn btn-primary btn-lg px-4 me-md-2" type="button">Explore My Work</button>
                <button class="btn btn-outline-secondary btn-lg px-4" type="button">Get in Touch</button>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="hanging-icons"><h2 class="pb-2 border-bottom">Recent projects</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor"
                     class="bi bi-skip-start-btn" viewBox="0 0 16 16">
                    <path d="M9.71 5.093a.5.5 0 0 1 .79.407v5a.5.5 0 0 1-.79.407L7 8.972V10.5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 1 0v1.528z"/>
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                </svg>
            </div>
            <div><h3 class="fs-2 text-body-emphasis">Booking Automation</h3>
                <p>Python and Selenium script that logs in and books classes automatically, with no manual clicking. </p> <a class="btn btn-primary" href="#">
                    View Project
                </a></div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor"
                     class="bi bi-window-sidebar" viewBox="0 0 16 16">
                    <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1m2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                    <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1zM1 13V6h4v8H2a1 1 0 0 1-1-1m5 1V6h9v7a1 1 0 0 1-1 1z"/>
                </svg>
            </div>
            <div><h3 class="fs-2 text-body-emphasis">18+ Boutique Website</h3>
                <p>A boutique storefront with an age-verification gate, product showcase, and mobile-friendly layout.</p> <a class="btn btn-primary" href="#">
                    View Project
                </a></div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="38" fill="currentColor"
                     class="bi bi-database-check" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514"/>
                    <path d="M12.096 6.223A5 5 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.5 4.5 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-.813-.927Q8.378 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.6 4.6 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10q.393 0 .774-.024a4.5 4.5 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777M3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4"/>
                </svg>
            </div>
            <div><h3 class="fs-2 text-body-emphasis">Flight Deal Finder</h3>
                <p>Searches for cheap flights using live API data and stores the results in a spreadsheet.</p> <a class="btn btn-primary" href="#">
                    View Project
                </a></div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="custom-cards"><h2 class="pb-2 border-bottom">Thoughts on development</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                 style="background-image: url('https://img.freepik.com/premium-photo/light-mild-blue-abstract-creative-background-design_198067-421914.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"><h3
                        class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style = "color:black">Flask Web development</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img src="https://logowik.com/content/uploads/images/medium-icon239.logowik.com.webp" alt="Bootstrap" width="32"
                                                 height="32" class="rounded-circle border border-white"></li>
                        <li class="d-flex align-items-center me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
                            </svg>
                            <small>Sowmya</small></li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>3d</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                 style="background-image: url('https://img.freepik.com/premium-photo/light-mild-blue-abstract-creative-background-design_198067-421914.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"><h3
                        class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style = "color:black">Much longer title that wraps to multiple
                    lines</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img src="https://logowik.com/content/uploads/images/medium-icon239.logowik.com.webp" alt="Bootstrap" width="32"
                                                 height="32" class="rounded-circle border border-white"></li>
                        <li class="d-flex align-items-center me-3">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
                            </svg>
                            <small>Sowmya</small></li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Duration">
                                <use xlink:href="#calendar3"></use>
                            </svg>
                            <small>4d</small></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                 style="background-image: url('https://img.freepik.com/premium-photo/light-mild-blue-abstract-creative-background-design_198067-421914.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1"><h3
                        class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style = "color:black">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img src="https://logowik.com/content/uploads/images/medium-icon239.logowik.com.webp" alt="Bootstrap" width="32"
                                                 height="32" class="rounded-circle border border-white"></li>
                        <li class="d-flex align-items-center me-3">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.18.18 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.18.18 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.18.18 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.18.18 0 0 1-.134-.098z"/>
                            </svg>
                            <small>Sowmya</small></li>
                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em" role="img" aria-label="Location">
                                <use xlink:href="#geo-fill"></use>
                            </svg>
                            <small>5d</small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}